extend ../layout
block content
	.container
		.row
			form.form-horizontal(method="post", action="/admin/movie/new")
				input(type="hidden", name="movie[_id]", value="#{movie._id}")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[title]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 导演
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[director]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 国家 
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[country]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 语种
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[language]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 上映年份
					.col-sm-10
						input#inputTitle.form-control(type="number",name="movie[year]")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 简介
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[summary]")
				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-default(type="submit") 录入


			